.name {
  color: red;
  font-family: times roman;
  font-weight: bold;
  font-size: 96px;
  font-style: italic;

  text-align: center;
  text-decoration: underline;
  text-shadow: 0px 10px 10px orange;
}

#para1 {
  background-color: burlywood;
  font-size: 35px;
  letter-spacing: 2px;
  word-spacing: 5px;
  line-height: 100px;
}
